In [1]:
def address():
    print("한국공학대학교")

In [2]:
address()

한국공학대학교

In [6]:
def multiply(x,y):
    f=x*y
    return f

In [7]:
multiply(2,3)

6

In [8]:
def print_star(n):
    for _ in range(n):
        print("**************")

In [15]:
print_star(4)

**************
**************
**************
**************

In [2]:
def func(x):
    c=x**2-x-1
    return c

In [3]:
def find_x(a,b,e):
    while(1):
        if abs(1.618164-(a+b)/2)<e:
            print((a+b)/2)
            break
        if func(a)*func(b)>0:
            print("두 값사이에 근이 없음")
        else:
            h=(a+b)/2
            if func(h)*func(a)<0:
                b = h
            else:
                a = h

In [4]:
find_x(1,2,0.001)

1.6171875

In [5]:
def add(a,b,c=10):
    d=a+b+c
    return d
d= add(2,2,)
print(d)

14

In [19]:
k=10
def add2(a,b):
    c= a+b
    c=c*k
    return c
d=add2(2,3)
print(d)

50

In [20]:
def factorial(n):
    if n<=1:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(5)

120