In [8]:
a=list(range(0,101))
max(a)

100

In [9]:
a=3/7
print(round(a,2))
print(round(a,3))

0.43
0.429

In [16]:
a = 31232/7
b = 3/8
c = 3/9
print("a는 %.2f이고, b는 %.2f이고, c는 %.2f 입니다."%(a,b,c))

a는 4461.71이고, b는 0.38이고, c는 0.33 입니다.

In [25]:
a = 31232/7
b = 3/8
c = 3/9
print("a는 {:.2f}이고, b는 {:.1f} 이고, c는 {:.3f} 입니다.".format(a,b,c))

a는 4461.71이고, b는 0.4 이고, c는 0.333 입니다.

In [ ]:
a1 = 3.14195
a2 = 3.14195
a3 = 3.14195
a4 = 3.14195
a5 = 3.14195
print("a1은 {:.5f}이고, a2는 ")

In [1]:
a=4
b=6
(a%2==0)and(b%2!=0)

False

In [4]:
if((a%2==0)and(b%2!=0)):
    print(a,b)

In [5]:
a="삼성전자"

In [6]:
a[0]

'삼'

In [7]:
a='hello'
b='world'
a+b

'helloworld'

In [8]:
a[0:3]

'hel'

In [6]:
a=input("이름 : ")
b=input("소속 : ")
c=input("전화번호 : ")
d=c[0:7] 
print("이름은 %s이고, 당신의 소속은 %s이며, 핸드폰 번호는 %s입니다."%(a,b,d+'****'))

이름 : 박승호
소속 : 한국공대
전화번호 : 01025370137
이름은 박승호이고, 당신의 소속은 한국공대이며, 핸드폰 번호는 0102537****입니다.

In [1]:
print("구글","아마존","마이크로소트","애플","야후",sep=",")

구글,아마존,마이크로소트,애플,야후

In [8]:
a=input("첫번째 수를 입력하세요 : ")
b=input("두번째 수를 입력하세요 : ")
c=int(a)*int(b)
print(a,'*',b,'=',c)

첫번째 수를 입력하세요 : 2
두번째 수를 입력하세요 : 3
2 * 3 = 6

In [1]:
a='hello'

In [3]:
a.startswith('he')

True

In [4]:
a.endswith('lo')

True

In [6]:
a.find('ll')

2

In [8]:
a.find('h')

0

In [10]:
b=a.replace('o','.')
b

'hell.'

In [12]:
b=a.upper()
b

'HELLO'

In [51]:
data = "10, '170'"
data=data.split(',')
n=0

for i in data:
    i = i.strip().strip("'")
    data[n] = int(i)
    n += 1
    
print(data)

[10, 170]