In [1]:
import pandas as pd
import numpy as np
import math
data = pd.read_csv('./citrus.csv')
data

            name  diameter  weight  red  green  blue
0         orange      2.96   86.76  172     85     2
1         orange      3.91   88.05  166     78     3
2         orange      4.42   95.17  156     81     2
3         orange      4.47   95.60  163     81     4
4         orange      4.48   95.76  161     72     9
...          ...       ...     ...  ...    ...   ...
9995  grapefruit     15.35  253.89  149     77    20
9996  grapefruit     15.41  254.67  148     68     7
9997  grapefruit     15.59  256.50  168     82    20
9998  grapefruit     15.92  260.14  142     72    11
9999  grapefruit     16.45  261.51  152     74     2

[10000 rows x 6 columns]

In [14]:
class KNN():

    def split(self,data, p = 0.75):
        
        tr_data = data.sample(frac = p, random_state = 100)
        ts_data = data.drop(tr_data.index)

        x_tr = tr_data.iloc[:,[0]]
        y_tr = tr_data.iloc[:,[1,2,3,4,5]]
        x_ts = ts_data.iloc[:,[0]]
        y_ts = ts_data.iloc[:,[1,2,3,4,5]]
        
        return x_tr, y_tr, x_ts, y_ts
        
    def euclidean_distance(self, data ,k):

        class_result = []
        x_tr_l = data[0].values
        x_ts_l = data[2].valuse
        for i in range(0,len(x_ts_l)):
            df = x_tr_l - x_ts_l[i]
            df = df ** 2
            class_result.append(np.sqrt(df)) 
    
        return class_result[:k]

In [15]:
a = KNN()
b = a.split(data)

In [16]:
c = a.euclidean_distance(a,3)

TypeError: 'KNN' object is not subscriptable